<p id="notice"><%= notice %></p>

<p>
  <strong>Contact handle:</strong>
  <%= @registrant.contact_handle %>
</p>

<p>
  <strong>First name:</strong>
  <%= @registrant.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @registrant.last_name %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @registrant.organization %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @registrant.contact_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @registrant.address %>
</p>

<%= link_to 'Edit', edit_registrant_path(@registrant) %> |
<%= link_to 'Back', registrants_path %>
